.container {
  display: flex;
 
}



.miniCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  gap: 10px;
}

.wrapperTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.wrapperMiddle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  width: 100%;
  gap: 20px;
}
.wrapperBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.title {
  font-size: 16px; color: rgb(98, 97, 97);
  text-transform: uppercase;

}

.title3{
  font-size: 14px; color: rgb(98, 97, 97);
  text-decoration: underline;

}

.title2 {
  font-size: 16px; 
  color: green;
  display: flex;
  align-items: center;

}
.title4 {
  font-size: 16px; 
  color: red;
  display: flex;
  align-items: center;

}

.numberWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.number {font-size: 34px;}
.subTxt {font-size: 14px; color: black; padding-left: 20px;}